@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color: #475b7d;
    --secondary-color: #6480b2;
    --tertiary-color: #c2b7ca;
    --quaternary-color: #b19a82;
    --bkgd-color: #d3dbec;
    --font-family: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Nunito, sans-serif;
    color: var(--primary-color)
}

/* fonts */
h1 {
    color: var(--primary-color);
    font-family: josefin sans, sans-serif;
    font-weight: 450;
    font-size: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2 {
    color: var(--primary-color);
    font-family: josefin sans, sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin-top: 1em;
    margin-bottom: -20px;
    margin-left: 1em;
}

p {
    color: var(--secondary-color);
    font-size: 18px;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* image */
.image-container {
    position: relative; /* Establishes positioning context for children */
    /*display: inline-block; /* Makes container size fit the image */
    width: 1000px;
    height: auto;
    margin-top: 50px;
    flex: 0 1 auto;
}

.title {
    position: absolute;
    text-align: center;
    bottom: 96%;
    left: 45%;
    transform: translate(-50%, 0%);
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
}

.anatomy-image {
    display: block;
    margin: 2em auto 2em auto;
    max-width: 80%;
    height: auto;
}

.button-container button {
    position: absolute;
    background-color: var(--bkgd-color);
    font-family: nunito, sans-serif;
    font-size: clamp(0.75em, 18px, 2em);
    color: var(--bkgd-color);
    border-color: var(--bkgd-color);
    border-radius: 2em;
    padding: 0.3em 0.6em;          
}

.button-container button:hover {
    background-color: #ffffff;
    border-width: 2px;
    color: var(--primary-color);
}

/* videos */

.video-container {
    display: block;
    margin: 2em auto 2em auto;
    max-width: 80%;
    height: auto;
}