@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --primary-color: #475b7d;
    --secondary-color: #6480b2;
    --tertiary-color: #c2b7ca;
    --quaternary-color: #b19a82;
    --bkgd-color: #d3dbec;
    --font-family: 'Nunito', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Nunito, sans-serif;
    color: var(--primary-color);
    height: 100%;
}

/*hero background*/
.hero {
    position: relative;
    min-height: 100vh;
    background-image: url("images/experimatics_bkgd.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

    /* DARK OVERLAY */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* adjust darkness */
    z-index: 1;
}

    /* KEEP CONTENT ABOVE OVERLAY */
.hero > * {
    position: relative;
    z-index: 2;
}

/* fonts */
h1 {
    color: var(--primary-color);
    font-family: josefin sans, sans-serif;
    font-weight: 450;
    font-size: 50px;
    margin: 0em auto 0.5em 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    color: var(--primary-color);
    font-family: josefin sans, sans-serif;
    font-weight: 350;
    font-size: 35px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    color: var(--secondary-color);
    font-size: 18px;
    margin-top: 0em;
    margin-bottom: 1em;
}

/* nav */
nav {

    position: absolute;
    margin: 0 auto 0em auto;  /* top right bottom left, auto for right and left = automatically center horizontally */
    margin-top: 0;
    width: min(100%, 100%);   /* max width reaches 1000px, never more than 100% of screen size */
    padding: 0em 5em;  /* top/bottom left/right */
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: var(--secondary-color);
}

nav a:hover {
    color: var(--tertiary-color);
}

/* header */

.welcome-text {
    position: relative;
    width: min(20em, 100%);
    width: 40em;
    flex: 0 1 auto;
    /* 
    flex-grow = 0 means text doesn't grow to fill extra space even when expanded
    flex-shrink = 1 means the text will shrink when space is too small
    flex-basis = initial size of text
    allows the text to shrink and grow as needed 
    */
    left: 5em;
    top: 25em;
}

.banner-text, .about-text {
    margin: 1em 0em 0.5em 0em;
    text-align: left;
}

.choose-subject-button a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: nunito, sans-serif;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
}

.choose-subject-button a:hover {
    color: white;
}

/* choose subject section */
.choose-subject-container {
    margin: 3em auto;
    width: min(80em, 100%);
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    gap: 3em;
}

.subject-button {
    position: relative;
    display: inline-block;
    border-radius: 1em;
    border: none;
    font-family: nunito, sans-serif;
    padding: 0;
    overflow: hidden;
}

.subject-button a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4em;
    border-radius: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.subject-button a:hover {
    color: var(--secondary-color);
}

.subject-button:hover {
    scale: 1.05;
}

.subject-image {
    width: 336px;
    height: 252px;
    margin: 0;
    border-radius: 1em;
}
